/BetESS/nbproject/private/
/BetESS/build/
/BetESS/dist/
/BetESS/dados.obj
/BetESS_Patterns/nbproject/private/
/BetESS_Patterns/build/
/BetESS_Patterns/dist/
/BetESS_Refactoring/nbproject/private/
/BetESS_Refactoring/build/
/BetESS_Refactoring/dist/
